body {
    padding: 0;
    margin: 0;
}

article {
    border-top: 2px solid #32384D;
    border-bottom: 2px solid #32384D;
    padding: 15px 5px;
}

main {
    display: flex;
}

section {
    width: 74%;
}

aside {
    width: 25%;
    background-color: #32384D;
}

article:nth-child(odd) {
    background-color: #202020;
    color: #F1F1F1;
    font-family: 'Jost', sans-serif;
}

article:nth-child(even) {
    background-color: #1E0000;
    color: #EBB582;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* header */
.header {
    background-color: #32384D;
    border-bottom: 2px solid rgb(248, 248, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    /* position: fixed; */
}

.header .logo img {
    height: 80px;
    width: auto;
    transition: all .3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
    font-family: 'Montserrat', sans-serif;
}

.header .nav-links li:hover {
    transform: scale(1.1)
}

.header .nav-links a {
    font-size: 700;
    color: white;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: red;
    /* CAMBIAR COLOR */
}

/* mutante ruso - primer noticia */
#ruso {
    padding: 0.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    background-color: #2B2933;
}

#ruso h4{
    font-size: 1.2em;
}

.ruso-pri {
    width: 30%;
    display: inline-block;
    font-size: 1.2em;
    text-align: justify;
}

.ruso-seg{
    text-align: justify;
    padding: 0.4em;
}

.ruso-img {
    width: 60%;
    max-width: 100%;
    /* overflow: hidden; */
    /* align-content: center; */
    margin: 0 auto;
    display: inline-block;
}

.ruso-img img {
    width: 100%;
}

/* .ruso-primero {
    width: 30%;
} */

.contenedor-pri {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

/* superalimento - segunda noticia */
#pollito {
    padding: 0 .8em;
}

.img-pollo {
    width: 550px;
    height: 350px;
    overflow: hidden;
    align-content: center;
    box-shadow: 3px 3px 10px #aaa;
}

#pollito h2 {
    text-align: center;
    font-size: 1.7em;
    text-shadow: 5px -4px 5px #785A46,
        7px -5px 5px #aaa;
    color: #D24136;
}

#pollito figcaption {
    text-align: left;
    font-size: 0.77em;
    margin-top: 5px;
    color: #aaa;

}

#pollito h3 {
    color: #9D331F;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#pollito li {
    list-style: none;
}

#pollito p {
    font-size: 1em;
    /* color: #EBB582; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.subtitulo {
    font-size: 1.2em;
    color: #EB8A3E;
    font-weight: bold;
    font-style: italic;
}

/* Joesthetics */
.jo-notice {
    /* font-family: jost; */
    /* height: 1400px; */
    /* no sé qué tan bien está ir agregando el height a las cosas */
    padding: 0 .8em;
}

.jo-notice h2 {
    text-align: center;
}

.j-video {
    width: 560px;
    /* no sé si hice bien en ponerlo con px */
    margin: 0 auto;
}

.j-primero {
    width: 100%;
}

/* .content {
    text-align: justify;
    padding: 0 10px;
} */

.nosequeponer {
    display: flex;
    flex-direction: row;
}

.j-segundo {
    width: 50%;
}

.j-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */

    /* padding:0 auto; */
}

.j-img img {
    width: 100%;
}

/* rutina cbum */

.cbum-notice {
    /* background-color: #283526;
    color: beige; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* height: 2800px; */
    padding: 0 .8em;
}

.cbum-notice h2 {
    text-align: center;
}

.c-img {
    width: 60%;
    margin: 0 auto;
}

.c-video {
    width: 60%;
    margin: 0 auto;
}

.rutina {
    background-color: #2e0202;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;

}

.rutina-dia {
    width: 40%;
    /* max-width: 20ch; */

}

/* Ronnie Coleman */
.ronnie-notice {
    padding: 0 .8em;
    background-color: #141433;
}

.ronnie-notice h2 {
    text-align: center;
}

.r-cuerpo-intro {
    display: flex;
}

.r-intro-img {
    width: 50%;
    display: inline-block;
}

.r-intro-img img {
    width: 100%;
}

.r-intro-img figcaption {
    text-align: center;
}

.r-intro-text {
    width: 50%;
    display: inline-block;
}

.r-desc-text {
    width: 35%;
    display: inline-block;
}

.r-desc-video {
    width: 55%;
    display: inline-block;
    align-items: center;
}

.r-logros {
    display: flex;
    justify-content: center;
    align-items: center;

}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid lightgray;
}

tr:nth-child(odd) {
    background-color: #3b3a3a;
}

td:nth-child(1) {
    text-align: center;
}

td,
th {
    border: 1px solid lightgray;
    padding: 1em;
}

/* aside - publicidad */

.publicidad {
    background-color: #32384D;
}

.publicidad ul {
    padding-inline-start: 0;
}

.publicidad li {
    list-style: none;

}

.publicidad span {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.publicidad figure {
    margin: 20px;
    overflow: hidden;
    /* width: fit-content; */
}

.publicidad figcaption {
    color: #aaa;
    font-weight: bold;
    font-style: italic;
    font-size: 0.8em;
}

.publicidad img {
    width: -webkit-fill-available;
}


/* footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
}

/* header */