*{
  /*   margin:0;
    padding: 0; */
}
.img-art{
    width: 550px;
    height: 350px;
    overflow: hidden;
    align-content: center;
}
.img-ruso{
    width: 450px;
    overflow: hidden;
    align-content: center;
}
#ruso{
    background-color: rgb(146, 151, 156);
    
}
#ruso li{
 
    
}
article{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 15px 5px;
}
#pollito{
    background-color: blanchedalmond;
}
#pollito figcaption{
    text-align: center;
    font-size: 0.5em;
}
#pollito li{
 list-style: none;
}
#pollito p{
    font-size: 1em;
    color: darkgray;
}
.subtitulo{
    font-size: 1.2em;
    color: green   
}